@model IEnumerable<Digitalbank.Comercial.Usuarios.WebConsumo.Models.Usuario.UsuarioViewModel>

@{
    ViewBag.Title = "Index";
}

<h2>Lista Usuarios Registrados</h2>

<table id="TblTipoIdentificacion" class="table table-bordered table-striped display nowrap" style="width:100%">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.IdUsuario)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FechaNacimiento)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Sexo)
            </th>
            <th>Acciones</th>
        </tr>
    <thead>

    <tbody>
        @if (Model != null)
        {
            foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.IdUsuario)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Nombre)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.FechaNacimiento)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Sexo)
                    </td>
                    <td>
                        @Html.ActionLink("Modificar", "Edit", new { item.IdUsuario }) |
                        @Html.ActionLink("Eliminar", "Delete", new { item.IdUsuario })
                    </td>
                </tr>
            }
        }
    </tbody>
</table>



<script>
    $(document).ready(function () {
        $('#TblTipoIdentificacion').DataTable()
    })
</script>

